[include]
  path = .gitconfig.inc
[core]
  autocrlf = input
  editor = vim
  pager = delta --navigate --file-style=cyan --file-decoration-style='cyan box' --hunk-header-style=omit
  untrackedcache = true
  fsmonitor = true
[credential "https://github.com"]
  helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper = !/usr/local/bin/gh auth git-credential
[interactive]
  diffFilter = delta --color-only
[color]
  ui = always
[init]
  defaultBranch = main
[push]
  default = simple
[pull]
  rebase = false
  ff = only
# https://github.com/git/git/blob/master/mergetools/smerge
[diff]
  tool = smerge
  colorMoved = default
[difftool]
  prompt = false
[difftool "smerge"]
  cmd = smerge difftool "$LOCAL" "$REMOTE" # default cmd appears to be incorrect
[merge]
  tool = smerge
[mergetool]
  prompt = false
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
