# shellcheck shell=sh
# shellcheck disable=SC2016,SC2120,SC2142
[ -n "$BASH_VERSION" ] && alias refresh="source ~/.bashrc"
[ -n "$ZSH_VERSION" ] && alias refresh="source ~/.zshrc"

# misc
alias c='clear'
alias rmf='rm -rf'
alias uuid='uuidgen | tr "[:upper:]" "[:lower:]"'

# https://sgeb.io/posts/git-diff-anywhere
alias gdiff='git diff --no-ext-diff --no-index'

# lsd
alias l='lsd -lA --date=relative --group-dirs=first --permission=octal --size=short'

# git
alias g='git'
alias ga='git add'
alias gaa='git add --update' # add ALL tracked files (ignores new files) (99% of the time you want this)
alias gb='git branch'
alias gba='git branch --all' # list ALL local and remote branches
alias gbd='git branch --delete' # delete a branch
alias gbD='git branch -D' # force delete a branch
alias gbr='git branch -r' # list remote branches
alias gbrd='git branch -rd' # delete a remote branch
alias gc='git commit' # opens your $GIT_EDITOR or $EDITOR
alias gcm='git commit --message' # enter message after command, e.g., gcm 'initial commit'
alias gca='git commit --all' # stage and commit all tracked files (ignores new files)
alias gcam='git commit --all --message'
alias gce='git commit --allow-empty' # for kicking off a new ci job
alias gcem='git commit --allow-empty --message'
alias gco='git checkout'
alias gd='git diff'
alias gdt='git difftool'
alias gf='git fetch'
alias gfo='git fetch origin'
alias gfp='git fetch --prune' # prunes deleted remote branches from local
alias gi='git init'
alias gl='git log'
alias glp='git log -p' # paginated log
alias glg='git log --graph --pretty="%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ar)%Creset %an %C(bold blue)<%ae>%Creset"'
alias glo='git log --oneline'
alias gls='git log --show-signature'
alias gm='git merge'
alias gmt='git mergetool'
alias gp='git push'
alias gpo='git push -u origin'
alias gpl='git pull'
alias gplo='git pull origin'
alias gr='git reset --' # use this one to reset staged files
alias grs='git restore --' # use this one to restore a changed file
alias grao='git remote add origin'
alias grso='git remote set-url origin' # grso https://user:pw@hf.co/user/model.git
alias gs='git stash'
alias gsd='git stash drop'
alias gsp='git stash pop'
alias gsl='git stash list'
alias gslp='git stash list -p'
alias gss='git stash show'
alias gssp='git stash show -p'
alias gst='git status'
alias gsw='git switch' # use this one to switch to a different branch
alias gswc='git switch -c' # use this one to create a new branch and switch to it

# git extras
alias gu='git reset --soft HEAD~1' # git-undo (undoes the last commit but leaves files staged)
alias gus='git reset --soft HEAD~1 ; git reset' # git-undo -s (undoes the last commit and unstages all files)

# github cli
alias ghr='gh repo'
alias ghrc='gh repo clone' # can omit org if it's your own repo
alias ghrv='gh repo view --web' # same as git browse from git-extras
