# shellcheck shell=sh
HOME="${HOME:?}"
PATH="/usr/games/bin:/usr/games:${PATH}"

# mac overrides
if [ "$(uname -s)" = 'Darwin' ] ; then
  # brew
  export HOMEBREW_PREFIX='/usr/local'

  # https://docs.brew.sh/FAQ#why-is-the-default-installation-prefix-opthomebrew-on-apple-silicon
  case "$(uname -m)" in
    arm64|aarch64)
      export HOMEBREW_PREFIX='/opt/homebrew' ;;
  esac

  export HOMEBREW_BUNDLE_NO_LOCK=1
  export HOMEBREW_CELLAR="${HOMEBREW_PREFIX}/Cellar"
  export HOMEBREW_REPOSITORY="${HOMEBREW_PREFIX}/Homebrew"
  export MANPATH="${HOMEBREW_PREFIX}/share/man:${MANPATH}"
  export INFOPATH="${HOMEBREW_PREFIX}/share/info:${INFOPATH}"

  # bat
  export BAT_THEME='Dracula Pro (Van Helsing)' # ln -sf ~/.dracula/themes/sublime ~/.config/bat/themes && bat cache --build

  # editor
  export EDITOR='vim'

  # gcloud
  export CLOUDSDK_HOME="${HOMEBREW_PREFIX}/Caskroom/google-cloud-sdk/latest/google-cloud-sdk"
  export CLOUDSDK_PYTHON="${HOMEBREW_PREFIX}/bin/python3.10"

  # path
  PATH="${HOMEBREW_PREFIX}/bin:${HOMEBREW_PREFIX}/sbin:${PATH}"
  PATH="${HOMEBREW_PREFIX}/opt/libpq/bin:${PATH}"
  PATH="${CLOUDSDK_HOME}/bin:${PATH}"
fi

# XDG Base Directory Specification
# https://wiki.archlinux.org/title/XDG_Base_Directory
export XDG_CONFIG_HOME="${XDG_CONFIG_HOME:-$HOME/.config}"
export XDG_CACHE_HOME="${XDG_CACHE_HOME:-$HOME/.cache}"
export XDG_DATA_HOME="${XDG_DATA_HOME:-$HOME/.local/share}"
export XDG_STATE_HOME="${XDG_STATE_HOME:-$HOME/.local/state}"

# deno
# https://deno.land/manual/getting_started/setup_your_environment#environment-variables
# https://deno.land/manual/tools/script_installer
export DENO_DIR="${XDG_CACHE_HOME}/deno"
export DENO_INSTALL_ROOT="${HOME}/.deno"
PATH="${DENO_INSTALL_ROOT}/bin:${PATH}"

# go
export GOPATH="${HOME}/.go"
PATH="${GOPATH}/bin:${PATH}"

# nvm
export NVM_SYMLINK_CURRENT=true

# rust
export RUSTUP_HOME="${HOME}/.rustup"
PATH="${HOME}/.cargo/bin:${PATH}"

# misc
export VISUAL='code -w'
export EDITOR="${EDITOR:-code -w}"
export GIT_EDITOR="$EDITOR"
export PAGER='less -RFX --tabs=2'
export MANPAGER="sh -c 'col -bx | bat --language=man --style=plain --paging=always'"
export BAT_PAGER="$PAGER"

# path
# https://blog.ronin.cloud/linux-directories-paths
export PATH="$PATH"

# inc
if [ -s "${HOME}/.exports.inc" ] ; then
  . "${HOME}/.exports.inc"
fi
