# put anything else in ~/.gitconfig.inc (not in git)
[include]
  path = .gitconfig.inc
[core]
  autocrlf = input
  editor = code --wait
  pager = delta --navigate --file-style=cyan --file-decoration-style='cyan box' --hunk-header-style=omit
  untrackedcache = false # disabled for performance
  fsmonitor = false # doesnt work in containers
[interactive]
  diffFilter = delta --color-only
[color]
  ui = always
[init]
  defaultBranch = main
[push]
  default = simple
[pull]
  rebase = false
  ff = only
# https://code.visualstudio.com/docs/sourcecontrol/overview#_vs-code-as-git-difftool-and-mergetool
[diff]
  tool = vscode
  colorMoved = default
[difftool]
  prompt = false
  trustExitCode = true
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "vscode"]
  cmd = code --wait --diff $REMOTE $LOCAL $BASE $MERGED
  trustExitCode = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
